body{
  font-size: 14px;
  margin-right: auto;
  margin-left: auto;    

}

.row{

  padding-left: 20px;
  padding-right: 20px;
}
ul{
  list-style: circle;
   margin-left: 15px;
}
ol{
  list-style: decimal;
  margin-left: 15px;
}
.project-journey-h2{
  margin-top: 40px;
  font-weight: 300;
  font-size: 44px;
  text-transform: uppercase;
  
}
.project-journey{
  border-top: 1px solid #ccc;
  margin-top: 20px;
}
b{
   font-weight: 400;
}


.pageheight{
   height: 100vh;

}
li{
  font-size: 16px;
  margin-left: 5px;
}
.font400{
  font-weight: 400;
  font-size: 14px;
}
ol.font400 li{

  font-weight: 400;
  font-size: 14px;

}