@charset 'UTF-8';
@import 'reset.css';
@import 'less/flat-ui.less';

@grey: rgba(48, 48, 48, .5);

body
{
	font-family: 'roboto', sans-serif;
	font-size: 14px;
	font-weight: 300;
}
p{
	// font-family: 'Droid Serif', serif;
	font-size: 16px;
	line-height: 1.7em;
	letter-spacing: 0.1px;

}
.left-description{
	float: left;
	border-top: 1px gray solid;
	font-style: italic;
	font-size: 12px;
}
.right-description{
	float: right;
	border-top: 1px gray solid;
	font-style: italic;
	font-size: 12px;

}
.pic-shadow{
	-webkit-box-shadow: 0px 1px 9px 0px rgba(48, 50, 50, 0.1);
	-moz-box-shadow:    0px 1px 9px 0px rgba(48, 50, 50,0.1);
	box-shadow:         0px 1px 9px 0px rgba(48, 50, 50, 0.1);
	padding: 5%;
}
.project-subtitle{
	font-weight: 400;
	  font-size: 16px;
  		margin: 5px 0 5px 0;
}
.card{
	  // background-color: #f6f6f6;
	  border: 1px solid #f6f6f6;
	  color: #484848;
	  font-size: 16px;
	  margin-bottom: 1em;
	  margin-top: 1em;
	  padding: 1em 2em 1em 2em;
	  text-decoration: none;
	  margin: 0 10px 10px -20px;
}
a{
	color: #fe5953;
	text-decoration: none;
	cursor: pointer; 
}
img{
	margin-bottom: 25px;
}
b{
	font-weight: 400;
}
h1{
	font-weight: 300;
}
h2{
	margin-top: 15px;
	font-weight: 300;
}

h3{
	
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	// margin-top: 100px;
	// margin-bottom: 80px;
}  font-size: 16px;
  margin: 5px 0 5px 0;
h4{
	font-size: 19px;
	font-weight: 400;
	// color: #939597;
	// margin-top: 40px;
	// margin-bottom: 40px;
	text-transform: uppercase;
}
h5{
  margin: 8px 0;
  font-weight: 500;
    font-size: 20px;
  margin: 0px 0 10px 0;

}
h6{
  font-size: 14px;
  margin-bottom: 6px;
  font-weight: 400;
  // text-transform: uppercase;
}
section.content {
	padding: 60px 0 60px 0;
}
.carousel{
	ol,ul{
		list-style: none;

	}
}
.landing-container{
	// max-width: 1120px;
	margin: 0 40px;
	position: relative;
	height: 100vh;
}
#landing{
	padding-top:0;
	text-align:center;
    height:32%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    background-position: 0 -300px; 
}
/*
.overlay{
	color: blue;
	opacity: 0.6;
	z-index: 2;
}*/

.container{
	max-width: 980px;
}
.center{
	text-align: center;
}
.title-section{
	text-align: right;
	bottom: 0;
	right: 0;
	margin-bottom: 10px;
	position: absolute;	
	color: white;
	font-weight: 300;

}
.page-title{
		margin: 15vh 0 0 0;
		color: white;
		font-size: 400%;
		font-weight: 400;

	}
.page-sub-title{
	font-size: 0.85em;
	color: #eee;
	font-weight: 300;
	text-transform: uppercase;
	z-index: 20;
	letter-spacing: 1px;
}

.project{
	#nav{
		a{
			color: black;
		}	
	}
	h2.page-sub-title{
		color: #A7A9AB;
		margin-top: 10px;
		text-transform: none;
		font-weight: 300;
		font-size: 16px;	
	}
	.page-title{
		margin: 3vh auto 10px auto;
		color: black;
		font-size: 470%;
		font-weight: 300;
		text-transform: uppercase;

	}
}





.paragraph{
	margin-bottom: 20px;
	overflow: hidden;
}
#nav
{
	height: 65px;
	list-style:none;
	text-align:center;
	z-index: 1;
	font-size: 14px;
	padding:10px;
	.active{
		text-decoration: underline;
	}
	a{
		color: white;
		font-weight: 300;
		cursor: pointer; 
		letter-spacing: 2px;
  		font-size: 12px;
	
		&:hover{
			color: #16a085;
		}
	}
	ul
	{
		padding-top:23px;
		text-align: right;
		font-size: 16px;
		letter-spacing: 0.1px;

	}
	li
	{
		display:inline;
		margin-left: 30px;
	}
	#logo
	{
		float: left;
		margin: 0;
	}

}


.more_work{
	margin-top: 10px;
	margin-bottom: 40px;
	font-size: 10px;
	font-weight: 200;
	display: inline-block;
	position: relative;
	height: 42px;
	font-weight: 200;
	line-height: 40px;
	padding: 0 34px;
	border: 0;
	outline: 0;
	color: #fe5953;
	background: rgba(0,0,0,0);
	text-align: center;
	cursor: pointer;
	border: 1px solid #fe5953;
	vertical-align: bottom;
	white-space: nowrap;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 5px;
	font-weight: 800;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 999em;
	-moz-border-radius: 999em;
	border-radius: 999em;
	&:hover{
		border: 1px solid #1abc9c;
	}
}

a{
	cursor: pointer;
}

#project {
	background-color: #eee;
	padding: 30px 0 40px 0;
	.effect-marley {
		padding: 0px 0 0px 0;
		border: 10px #eee solid;
		height: 150px;
		p{
			font-size: 60%;
			bottom: 10px;
			line-height: 1.5em;
			left: 1.5em;

		}
		h2{
			top: 10px;
			font-size: 13px;
		}
	}
}



#contact a:link{
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer; 
}
#about{
	height:100vh;
	width: 100%;

	div{
		width: 40%;
		padding-top:15%;
		padding-left: 5%;
		color:white;
		font-weight:bold;

		a:link{
			text-decoration: underline;
			color: red;
			cursor: pointer; 
		}
	}

	@media screen and (max-width: 780px) {
		div{
			width: 100%;
		}
	}
}

.facebook-img{
	background:url(../pic/facebook.png);
	background-size:100%;
	width: 60%;
}

.frame{
	margin: 5px;
	padding: 0px 15px 15px 15px;
	padding-bottom: 0;
	border: 10px solid white;
	border-radius:2px;
	box-shadow: 0px 2px 0px #e6e6e6;
	height:250px;
	overflow: hidden;
	

	.image{
		height: 180px;
		margin: 0 auto;
		background-repeat: no-repeat;
		margin-top: 15px;
	}

}

.blk{
	ul{
		list-style-type:circle;
		li{
			margin-left: 30px;
		}
	}
}
.nodisplay{
	display: none !important;
}
#contact{
	text-align: center;
	padding: 5px 0 5px 0;
	background-color: #353535;
	color: white;
	a{
		color: gray;
		margin-right: 10px;
		cursor: pointer; 
	}
}


#banner {
	opacity: 0;
	-moz-transition: opacity 1s; /* Firefox 4 */
	-webkit-transition: opacity 1s; /* Safari and Chrome */
	-o-transition: opacity 1s;
	transition: opacity 1s;
}

.grid {
	margin: 0;
	padding: 0 0 0 0;
	width: 100%;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	z-index: 1;
	display: inline-block;
	overflow: hidden;
	margin: 0;
	padding: 0;
	text-align: center;
	cursor: pointer;
	height: 300px;
	border: 20px white solid;
	background: #333;
}

.overlay {  
	text-align:center;
	z-index: 1100;
	opacity: 1;
	width: 100%;
	height: 100%;
	padding: 0;
	-webkit-transition: opacity .25s ease;
	-moz-transition: opacity .25s ease;
}

.grid figure:hover .overlay {
	opacity:.25;
}

#portfolio .grid figure img{
	 opacity: 0;
}

.grid figure img {
	position: relative;
	display: block;
    width: 100%;
	-moz-transition: opacity 1s; /* Firefox 4 */
	-webkit-transition: opacity 1s; /* Safari and Chrome */
	-o-transition: opacity 1s;
	transition: opacity 1s;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	letter-spacing: .05em;
	
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: .1em;
	font-size: 55%;
}

/*---------------*/
/***** Marley *****/
/*---------------*/

#page-caption {
	margin: 0 auto;
	position: relative;
	height: 30vh;
	width: 22%;
	margin-top: 13%;
	 h2, p {
		  margin: 0 auto;
	}

	p {
		top: 150px;
		-webkit-transform: translate3d(0,100%,0);
		transform: translate3d(0,100%,0);
		font-size: 300%;
		font-weight: 500;
	}

	h2 {
		top: 45px;
		color: rgba(255,255,255,0);
		-webkit-transition: -webkit-transform 0.35s;
		transition: transform 0.35s;
		-webkit-transform: translate3d(0,20px,0);
		transform: translate3d(0,20px,0);
		font-size: 750%;
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 5px;
	}

	h2.active {
		color: rgba(255,255,255,1);
		-webkit-transition: color 0.35s;
		transition: color 0.35s;
		-webkit-transition: -webkit-transform 0.35s;
		transition: transform 0.35s;
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}

	h2::before {
		position: absolute;
		/*top: 100%;*/
		left: 0;
		width: 100%;
		height: 8px;
		background: #fff;
		content: '';
		-webkit-transform: translate3d(0,40px,0);
		transform: translate3d(0,40px,0);
		top:-32px;

	}

	h2::before,
	p {
		color: rgba(255,255,255,1);
		opacity: 0;
		-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
		transition: opacity 0.35s, transform 0.35s;
	}

	h2.active::before,
	p.active {
		opacity: 1;
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}

}

figure.effect-marley figcaption {
	text-align: left;
}

figure.effect-marley h2,
figure.effect-marley p {
	position: absolute;
	margin-right: 2em;
	left: 1em;
	padding: 10px 0;
}


figure.effect-marley p {
	bottom: 30px;
	left: 1.5em;
	line-height: 1.5em;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
	font-size: 100%;
}

figure.effect-marley h2 {
	top: 35px;
	color: rgba(255,255,255,0);
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
	font-size: 28px;
	// font-weight: 400;
}

figure.effect-marley:hover h2 {
	color: rgba(255,255,255,1);
	-webkit-transition: color 0.35s;
	transition: color 0.35s;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-marley h2::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 4px;
	background: #fff;
	content: '';
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);

}

figure.effect-marley h2::after,
figure.effect-marley p {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-marley:hover h2::after,
figure.effect-marley:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

@media screen and (max-width: 69.5em) {
	.grid figure {
		width: 50%;
	}	

	.grid figure figcaption {
		font-size: 90%;
	}
}


@media screen and (max-width: 41.5em) {

	.grid figure {
		width: 100%;
	}
}

@media (max-width: @screen-xs-max) { 
         .page-title{
         	font-size: 200%;

         }
         .page-sub-title{
         	font-size: 10px;
         }
         .title-section{
			bottom: 60px;
		}
		.page-title.portfolio{
         	font-size: 300%;
         }
    	.page-sub-title.portfolio{
         	font-size: 80%;
         	text-transform: none;
         	
         }
         .project .page-title{
         		font-size: 300%;
         		margin-top: 7vh;
         }
         
		#page-caption {
			margin-top: 150px;
			width: 40%;
			p {
				font-size: 140%;
			}
			h2 {
				font-size: 360%;
			}
		}
}
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { 
     .page-title{
     	font-size: 550%;
     }
     .title-section{
		bottom: 55px;
	}
	.page-title.portfolio{
         	font-size: 400%;
         }
    .page-sub-title.portfolio{
         	font-size: 100%;
         	text-transform: none;
         }
    .project .page-title{
         		font-size: 400%;
         		margin-top: 7vh;
         }

	#page-caption {

		p {
			font-size: 200%;
		}
		h2 {
			font-size: 500%;
		}
	}

}
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
	     .page-title{
         	font-size: 300%;
         }
         .title-section{
			bottom: 55px;
		}
		.page-title.portfolio{
         	font-size: 600%;
         }
          .page-sub-title.portfolio{
         	font-size: 130%;
         	text-transform: none;
         }
		#page-caption {
			p {
				font-size: 250%;
			}
			h2 {
				font-size: 600%;
			}
		}
}
@media (min-width: @screen-lg-min) {
         .page-title{
         	font-size: 300%;
         }
         .page-title.portfolio{
         	font-size: 600%;
         }
         .page-sub-title.portfolio{
         	font-size: 150%;
         	text-transform: none;

         }
         .title-section{
			bottom: 15px;
		}
		#page-caption {
			width: 24%;
			p {
				font-size: 350%;
			}
			h2 {
				font-size: 840%;
			}
		}
}
