@charset 'UTF-8';
@import 'reset.css';
@import 'less/flat-ui.less';

@grey: rgba(48, 48, 48, .5);

body
{
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	font-weight: 300;
}
p{
	// font-family: 'Droid Serif', serif;
	font-size: 14px;
	line-height: 1.7em;
}
.font400{
	font-weight: 400;
}
a{
	color: #fe5953;
	text-decoration: none;
	cursor: pointer; 
}
img{
	margin-bottom: 25px;
}
b{
	font-weight: 400;
}
h1{
	font-weight: 300;
}
h2{
	margin-top: 15px;
	font-weight: 300;
}
h3{
	
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	// margin-top: 100px;
	// margin-bottom: 80px;
}
h4{
	font-size: 17px;
	font-weight: 400;
	// color: #939597;
	// margin-top: 40px;
	// margin-bottom: 40px;
	text-transform: uppercase;
}
h5{
  font-size: 16px;
  margin-bottom: 6px;
  font-weight: 400;
  text-transform: uppercase;

}
h6{
  font-size: 12px;
  margin-bottom: 6px;
  font-weight: 400;
  // text-transform: uppercase;
}
section.content {
	padding: 60px 0 60px 0;
}
.carousel{
	ol,ul{
		list-style: none;
	}
}
.landing-container{
	// max-width: 1120px;
	margin: 0 40px;
	position: relative;
	height: 100vh;
}
#landing{
	padding-top:0;
	text-align:center;
    height:25vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    background-position: 0 -300px; 
}
.overlay{
	color: blue;
	opacity: 0.6;
	z-index: 2;
}

.container{
	max-width: 980px;
}
.center{
	text-align: center;
}
.title-section{
	text-align: right;
	bottom: 0;
	right: 0;
	margin-bottom: 10px;
	position: absolute;	
	color: white;
	font-weight: 300;

}
.page-title{
		margin: 15vh 0 0 0;
		color: white;
		font-size: 400%;
		font-weight: 400;
	}
.page-sub-title{
	font-size: 1.2em;
	color: #eee;
	font-weight: 400;
	text-transform: uppercase;
	z-index: 20;
}

.project{
	#nav{
		a{
			color: black;
		}	
	}
	h2.page-sub-title{
		color: #A7A9AB;
		margin-top: 10px;
		text-transform: none;
		font-weight: 300;	
	}
	.page-title{
		margin: 3vh auto 10px auto;
		color: black;
		font-size: 400%;
		font-weight: 300;
		text-transform: uppercase;

	}
}

@media (max-width: @screen-xs-max) { 
         .page-title{
         	font-size: 400%;
         }
         .title-section{
			bottom: 55px;
		}
}
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { 
     .page-title{
     	font-size: 550%;
     }
     .title-section{
		bottom: 55px;
	}
}
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
	     .page-title{
         	font-size: 700%;
         }
         .title-section{
			bottom: 55px;
		}
}
@media (min-width: @screen-lg-min) {
         .page-title{
         	font-size: 700%;
         }
         .title-section{
			bottom: 15px;
		}
}



.paragraph{
	margin-bottom: 20px;
	overflow: hidden;
}
#nav
{
	height: 65px;
	list-style:none;
	text-align:center;
	z-index: 1;
	font-size: 14px;
	padding:10px;
	.active{
		text-decoration: underline;
	}
	a{
		color: white;
		font-weight: 300;
		cursor: pointer; 
		letter-spacing: 2px;
  		font-size: 12px;
	
		&:hover{
			color: #16a085;
		}
	}
	ul
	{
		font-size: 28 px;
		padding-top:23px;
		text-align: right;

	}
	li
	{
		display:inline;
		margin-left: 30px;
	}
	#logo
	{
		float: left;
		margin: 0;
	}

}


.more_work{
	margin-top: 10px;
	margin-bottom: 40px;
	font-size: 10px;
	font-weight: 200;
	display: inline-block;
	position: relative;
	height: 42px;
	font-weight: 200;
	line-height: 40px;
	padding: 0 34px;
	border: 0;
	outline: 0;
	color: #fe5953;
	background: rgba(0,0,0,0);
	text-align: center;
	cursor: pointer;
	border: 1px solid #fe5953;
	vertical-align: bottom;
	white-space: nowrap;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 5px;
	font-weight: 800;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 999em;
	-moz-border-radius: 999em;
	border-radius: 999em;
	&:hover{
		border: 1px solid #1abc9c;
	}
}

	// background-color: rgb(241, 240, 238);
	min-height: 768px;
	margin:0;
	a{
		cursor: pointer;
	}
	.block
	{
		background-color: rgb(241, 240, 238);
		overflow:hidden;
		opacity: 1;
		height: 350px;
		border: 20px white solid;
		background-size:100%;
		padding: 0;
		.on_hover{
			font-size: 20px;
			visibility: hidden;
			z-index: 100;
			color: white;
			width: 100%;
			height: 0;
			padding: 10px;
			opacity: 0;
			height: auto;
			background-color: black;
			transition: opacity 0.1s linear;

		}
	}
	.block:hover{
               &:first-child .on_hover{
					visibility: visible;
					opacity: 0.8;
				}
               // &:after{
               //         content: url(../pic/explore.png);
               //         position: absolute;
               //         top: 45%;
               //         left: 45%;
               // }
       }
       #project{
       		background-color: #eee;
       		padding: 30px 0 40px 0;
       		.block{
       			padding: 0px 0 0px 0;
       			border: 10px #eee solid;
       			height: 150px;
   		    }
   		}




#contact a:link{
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer; 
}
#about{
	height:100vh;
	width: 100%;

	div{
		width: 40%;
		padding-top:15%;
		padding-left: 5%;
		color:white;
		font-weight:bold;

		a:link{
			text-decoration: underline;
			color: red;
			cursor: pointer; 
		}
	}

	@media screen and (max-width: 780px) {
		div{
			width: 100%;
		}
	}
}

.facebook-img{
	background:url(../pic/facebook.png);
	background-size:100%;
	width: 60%;
}

.frame{
	margin: 5px;
	padding: 0px 15px 15px 15px;
	padding-bottom: 0;
	border: 10px solid white;
	border-radius:2px;
	box-shadow: 0px 2px 0px #e6e6e6;
	height:250px;
	overflow: hidden;
	

	.image{
		height: 180px;
		margin: 0 auto;
		background-repeat: no-repeat;
		margin-top: 15px;
	}

}

#tyemill{
	background:url(../pic/project_img/01.png) no-repeat;
	background-size:100%;
}

#Hangout{
	background:url(../pic/project_img/08.png) no-repeat;
	background-size:100%;
}
#uwit{
	background:url(../pic/project_img/02.png) no-repeat;
	background-size:100%;
}
#Carmax{
	background:url(../pic/project_img/07.png) no-repeat;
	background-size:100%;
}
#Growler{
	background:url(../pic/project_img/06.png) no-repeat;
	background-size:100%;
}
#NoteU{
	background:url(../pic/project_img/03.png) no-repeat;
	background-size:100%;
}
#moodlog{
	background:url(../pic/project_img/05.png) no-repeat;
	background-size:100%;
}
#website_history{
	background:url(../pic/project_img/04.png) no-repeat;
	background-size:100%;
}
#tableau{
	background:url(../pic/project_img/11.png) no-repeat;
	background-size:100%;
}
#visualization_research{
	background:url(../pic/project_img/12.png) no-repeat;
	background-size:100%;
}
#sus{
	background:url(../pic/project_img/14.png) no-repeat;
	background-size:100%;
}

.blk{
	ul{
		list-style-type:circle;
		li{
			margin-left: 30px;
		}
	}
}
.nodisplay{
	display: none !important;
}
#contact{
	text-align: center;
	padding: 5px 0 5px 0;
	background-color: #353535;
	color: white;
	a{
		color: gray;
		margin-right: 10px;
		cursor: pointer; 
	}
}
